.metadata/
.idea/
**/bin/
**/gen/
**/.idea/
**/*.iml
**/local.properties
.DS_Store
**/.DS_Store
**/lint.xml
**/*.sh
**/**/bin/
**/**/gen/
**/**/local.properties
**/**/.settings
**/junit-results/
.classpath
**/.classpath
.settings/
**/settings/
